name: PR Security Quality Checks
on :
  pull_request:
    branches:
      - main

jobs:
    security-and-quality:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                fetch-depth: 0 // Fetch all history for all branches and tags (required for sonarcloud scan)

            - name: Trivy scan
              uses: aquasecurity/trivy-action@6e7b7d1fd3e4fef0c5fa8cce1229c54b2c9bd0d8
              with:
                scan-type: fs
                scan-ref: .
                format: table
                output: trivy-report.txt
                vuln-type: 'os,library'
                severity: 'CRITICAL'
                exit-code: '1'

            - name: SonarCloud Scan
              uses: SonarSource/sonarcloud-github-action@ffc3010689be73b8e5ae0c57ce35968afd7909e8
              env:
                SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
              with:
                args: >
                  -Dsonar.projectKey=avinash-sharma-121_portfolio
                  -Dsonar.organization=avinash-sharma-121
                  -Dsonar.qualitygate.wait=true
